@model IEnumerable<Protrac1.Models.JobStartForm>

@{
    ViewData["Title"] = "Index";
}

<h1> All Projects Index </h1>

<p>
    <a asp-action="Create">Create Project</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectDetail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectManagerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeofJob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sector)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SPMName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedProjectCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectManagerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeofJob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sector)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Office)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SPMName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedProjectCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
