@model ProtracV1.Models.JobStartForm


@{
    ViewData["Title"] = "Project Forms";
}

<head>
<style>
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: rgba(0, 128, 128, 0.677); 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: rgba(0, 128, 128, 0.327);
  overflow: hidden;
}
</style>
</head>
<body>

<h1 style="color: blue;"> Project Forms for @Model.ProjectTitle </h1>

<button class="accordion"> <span style="font-size:24px;"> Input Registration Form </span> </button> 
<div class="panel">

  <p>
   <span style="font-size:24px;"> PMD3 Input Registration Form  </span> <span style="font-size:24px;"><a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">Create | </a>
    <a asp-controller="InputRegister" asp-action="Details" asp-route-id="@Model.ProjectId">View | </a>
    <a asp-controller="InputRegister" asp-action="Edit" asp-route-id="@Model.ProjectId">Edit | </a>
    <a asp-controller="InputRegister" asp-action="Delete" asp-route-id="@Model.ProjectId">Delete | </a>
</span>
</p>

</div>

<button class="accordion">Section 2</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<button class="accordion">Section 3</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>
</body>


<h1 style="color: blue;">Project Forms for @Model.ProjectTitle </h1>
<p>  </p>
<p>
   <span style="font-size:24px;"> PMD1 Job Start Form  </span> <span style="font-size:24px;"> <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">Create | </a> 
     <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId"> View | </a> 
     <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId"> Edit | </a> 
     <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId"> Delete </a>  </h3>
   </span>
</p>
<p>  </p>
<p>
   <span style="font-size:24px;"> PMD2 Work BreakDown Structure Form  </span> <span style="font-size:24px;"> <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">Create | </a>
    <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">View | </a>
    <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">Edit | </a>
    <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">Delete | </a>
</span>
</p>
<p>
   <span style="font-size:24px;"> PMD3 Input Register Form  </span> <span style="font-size:24px;"><a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">Create | </a>
    <a asp-controller="InputRegister" asp-action="Details" asp-route-id="@Model.ProjectId">View | </a>
    <a asp-controller="InputRegister" asp-action="Edit" asp-route-id="@Model.ProjectId">Edit | </a>
    <a asp-controller="InputRegister" asp-action="Delete" asp-route-id="@Model.ProjectId">Delete | </a>
</span>
</p>
<p>
   <span style="font-size:24px;"> PMD4 Correspondance Inward and Outward Form  </span> <span style="font-size:24px;"><a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">Create | </a>
    <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">View | </a>
    <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">Edit | </a>
    <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">Delete | </a>
</span>
</p>
<p>
   <span style="font-size:24px;"> PMD5 Check and Review Form </span> <span style="font-size:24px;"> <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">Create | </a>
    <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">View | </a>
    <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">Edit | </a>
    <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">Delete | </a>
</span>
</p>
<p>
   <span style="font-size:24px;"> PMD6 Change Control Register Form  </span> <span style="font-size:24px;"> <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">Create | </a>
    <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">View | </a>
    <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">Edit | </a>
    <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">Delete | </a>
</span>
</p>
<p>
   <span style="font-size:24px;"> PMD7 Monthly Progress Review Form  </span> <span style="font-size:24px;"> <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">Create | </a>
    <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">View | </a>
    <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">Edit | </a>
    <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">Delete | </a>
</span>
</p>
<p>
  <span style="font-size:24px;"> PMD8 Project Closure Form </span> <span style="font-size:24px;"> <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">Create | </a>
    <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">View | </a>
    <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">Edit | </a>
    <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">Delete | </a>
</span>
</p>
  
<div>
    <a asp-action="ViewProjects">Back to All Projects Information</a>
</div>