@model IEnumerable<Protrac1.Models.JobStartForm>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color: blue;"> All Projects Information </h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectDetail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectManagerName)
            </th>
 
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectManagerName)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit </a> |
                <a asp-action="Details" asp-route-id="@item.ProjectId"> Details</a> |
                <a asp-action="ViewForms" asp-route-id="@item.ProjectId">Project Forms</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete </a>
            </td>
        </tr>
}
    </tbody>
</table>