@model Protrac1.Models.InputRegister

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InputRegister</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataReceived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataReceived)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivedFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivedFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectManagerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectManagerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilesFormat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilesFormat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberofFiles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberofFiles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FitforPurpose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FitforPurpose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Check)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Check)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Custodian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Custodian)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoragePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoragePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
